.artist-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 15vw;
  max-width: 200px;
  /* min-width: 190px; */
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  /* background-color: rgb(227, 62, 159, 0.25); */
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  aspect-ratio: 0.7;
  font-size: 1.1rem;

  img {
    display: inline-block;
    width: 55%;
    height: auto;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10%;
  }

  .artistName {
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .numPlays {
    color: #f9cfe6;
    font-size: 0.8em;
  }
}