.control-bar {
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100%;
  background: rgba(46, 19, 55, 0.9);
  backdrop-filter: blur(10px);
  border-top: 2px solid #782daa;
  display: flex;
  align-items: center;

  button {
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
  }

  .song-nav {
    display: flex;
    align-items: center;
    width: 130px;

    margin: 0 4% 0 8%;
  }

  .timer {
    color: white;
  }

  .timer-track {
    display: flex;
    align-items: center;
    margin: 0 2% 0 2%;
  }

  input[type="range"] {
    cursor: pointer;
    width: 15rem;
    border-radius: 5px;
    height: 0.5rem;
    accent-color: #FE476E;
    margin: 0 2% 0 2%;
  }

  input[type="range"]::-webkit-slider-thumb {
    opacity: 0;
  }

  /* Show the thumb on focus */
  input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
    transition: ease-in 0.1s;
  }

  #track {
    width: 30rem;
    margin-right: 2%;
  }

  #volume {
    margin-right: 4%;
  }

  #mute-btn {
    margin-left: auto;
    margin-bottom: -3px;
  }


  /* input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-moz-range-track */

  /* audio {
    opacity: 0%;FE476E
  } */
}