.control-bar {
  position: absolute;
  bottom: 0;
  height: 110px;
  width: 100vw;
  background: rgba(46, 19, 55, 0.9);
  backdrop-filter: blur(10px);
  border-top: 2px solid #782daa;
  display: flex;
  align-items: center;

  button {
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
  }

  /* audio::-webkit-media-controls-mute-button */
/* audio::-webkit-media-controls-play-button {
  
} */
/* audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */

  .song-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
  }
}
